<footer class="footer">
    <div class="container">
      <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left mr-auto">
              <div class="footer-widget">
                  <h4 class="mb-4">Makro</h4>
                  <p class="lead">Abastece tu hogar o negocio con nuestras Makro Ahorros.</p>
                  
                  <div class="">
                    <p class="mb-0"><strong>Ubicanos : </strong>Av. Jorge Chávez #1218, Santiago de Surco - Lima</p>
                    <p><strong>Support Email : </strong> supportMakro@email.com</p>
                  </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
              <div class="footer-widget">
                <h4 class="mb-4">Category</h4>
                <ul class="pl-0 list-unstyled mb-0">
                  <li><a href="#">Men's Fashion</a></li>
                  <li><a href="#">Women's Fashion</a></li>
                  <li><a href="#">Kids Fashion</a></li>
                  <li><a href="#">Accessories</a></li>
                  <li><a href="#">Shoe Collection</a></li>
                </ul>
            </div>
            </div>
            <div class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left">
               <div class="footer-widget">
                <h4 class="mb-4">Enlace útil</h4>
                <ul class="pl-0 list-unstyled mb-0">
                  <li><a href="#">News &amp; Tips</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">Our Shop</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-sm-6 text-center text-sm-left">
               <div class="footer-widget">
                <h4 class="mb-4">Horario de apertura</h4>
                <ul class="pl-0 list-unstyled mb-5">
                  <li class="d-lg-flex justify-content-between">Lunes-Viernes <span>8:00 am - 5:30 pm</span></li>
                  <li class="d-lg-flex justify-content-between">Sabado <span>10:00 am - 6:00 pm</span></li>
                  <li class="d-lg-flex justify-content-between">Domingo <span>10:00 am - 5:00 pm</span></li>
                </ul>
                <h5>Oficina Central : 634-8000</h5>
              </div>
            </div>
         </div>
    </div>
  </footer>
  <div class="footer-btm py-4 ">
    <div class="container">
      <div class="row ">
           <div class="col-lg-6">
             <p class="copyright mb-0 ">@Copyright reservado  por Makro &amp; made by <a href="https://www.makro.pe/makro.php?id=home">Makro.pe</a></p>
           </div>
           <div class="col-lg-6">
              <ul class="list-inline mb-0 footer-btm-links text-lg-right mt-2 mt-lg-0">
                  <li class="list-inline-item"><a href="#">Política de privacidad</a></li>
                  <li class="list-inline-item"><a href="#">Terminos &amp; Condiciones</a></li>
                  <li class="list-inline-item"><a href="#">Cookie Policy</a></li>
                  <li class="list-inline-item"><a href="#">Terminos venta</a></li>
                </ul>
           </div>
         </div>
    </div>
  </div>