<section class="page-header-order">
    <div class="overly"></div>   
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="content text-center">
            <h1 class="mb-3">Historial Orden</h1>
            <p>Ver tu historial de Compra</p>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Historial Orden</li>
            </ol>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="user-dashboard page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5 col-sm-12 col-lg-3">
          <div class="nav flex-column nav-pills">
            <a class="nav-link active" routerLink="/dashboard">Historial Orden</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/order" >Orders</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/dashboard" >Downloads</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/dashboard" >Address</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/dashboard" >Account</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/">Log Out</a>
          </div>
        </div>
        <div class="col-12 col-md-7 col-sm-12 col-lg-9">
          <div class="container">
            <div class="row" style="border: 1px solid #D5DBDB;padding: 5px;" >
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Nombre Usuario" [(ngModel)]="mntOrden.nombre">
              </div>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="Apellido Usuario" [(ngModel)]="mntOrden.apellido">
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="DNI" [(ngModel)]="mntOrden.dni">
              </div>
              <div class="col-sm-2">
                <button type="button" style="float: right;" class="btn btn-dark" (click)="listarOrden()">Buscar</button>
              </div>
            </div>

            <div class="row" style="padding: 5px;margin-top: 10px;">
              <div class="col-sm-12" style="border: 1px solid #D5DBDB;margin-bottom: 20px;" *ngFor="let x of objOrden">
               
                <div class="container" style="height: 30px;">
                  <div class="row">
                    <div class="col-sm-2">
                      <p>Pedido No. {{x.nroRecibo}}</p>
                    </div>
                    <div class="col-sm-4">
                      <p>Comprado el {{x.order_fecha | date}}</p>   
                    </div>
                  </div>
                </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-9">
                        <table class="table table-striped" >
                          <thead class="tableStyle">
                          </thead>
                          <tbody>
                            <tr *ngFor="let y of objDetails">
                              <th *ngIf="x.nroRecibo == y.idOrden" class="text-center"><img style="width: 50px;height: 50px;" src="{{y.imagenPro}}"></th>
                              <th *ngIf="x.nroRecibo == y.idOrden" class="text-center">{{y.nombre}}</th>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-sm-3" style="background-color: #F2F2F2;">
                        <p >SubTotal: S/{{x.subtotal}}</p>
                        <p >Envio: S/{{x.envio}}</p>
                        <p style="font-weight: bold;color:black;">Total: S/{{x.Total}}</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  