<div>
    <!--<section class="page-header">
      <div class="overly"></div>   
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="content text-center">
              <h1 class="mb-3">Carrito de Compra</h1>
              <p>El carrito de compra donde encontraras todo lo que seleccionaste</p>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-transparent justify-content-center">
                <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Carrito de Compra</li>
              </ol>
            </nav>
            </div>
          </div>
        </div>
      </div>
    </section>-->

    <section class="cart shopping page-wrapper">
        <div class="container">
          <div class="row justify-content-center">
                <div class="col-md-12" style="border:1px solid grey;padding: 20px;box-shadow: 1px 1px 7px 5px grey;">
                    <h1 style="text-align: center;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">!Gracias por tu compra, Jhordy!</h1><hr>
                    <p style="text-align: center;font-size: 20px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                        Hemos registrado exitosamente tu pedido. ¡Te enviaremos un correo electrónico cuando se envíe!
                    </p>
                    <img src="https://www.gifss.com/celebraciones/regalos/images/regalo-38.gif" style="display: block;margin-left: auto;margin-right: auto;"><br><br>
                    <a routerLink="/" style="font-size: 25px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Makro.pe</a><br>
                    <span style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Support</span><br>
                    <span style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">supportMakro@gmail.com</span><br>
                </div>
          </div>
        </div>
      </section>
  </div>


                  
  
                  
                  
  
                  
                  
  
                  
                  
  
                  
                  
  
                  
                  
  
                  
                  
  
                  
                  
  
                  
                  
  
                  
                  
  
                  
                  
  
                  
                  
  
                  
                  
  
                  
  
                  
  
                  
                  
  
                  
                  
  
                  
                  
  
                  
                
      